<html>
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>VNX VDI Calculator</title>

  <link rel="stylesheet" href="css/normalize.css" />
  
  <link rel="stylesheet" href="css/foundation.css" />
  

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>
<div class="row">
  <div class="panel">
<h1>Results VNX Calculator*</h1>
  <p>*Not official sanctioned by EMC, I did this in my spare time. If you have questions please send me a message <a href="http://twitter.com/jon_2vcps">@jon_2vcps</a>. The <a href="https://github.com/2vcps/vdi-calc">source is on github</a> Please Fork me! 

<p>This calculator attempts to estimate the EMC VNX storage needed for VMware View, Citrix PVS and MCS environments. It is based on the math
from this <a href=http://www.emc.com/collateral/software/white-papers/h11096-vdi-sizing-wp.pdf>whitepaper.</a>
Remember this is just an estimation and real world experience can never be replaced. Use the as a guide in order to get started.
<br>

<table border=1>
 <tr>
 <td>Compenents</td><td>Quantity</td><td>Notes</td>
 </tr>
 <tr>
 <td>VNX Model</td><td><%= @vnxType %>
 </tr>
 <tr>
<td>VNX Based on Data Movers</td><td><%= @adjvnxType %></td><td>Use this Model VNX if you are using NFS</td>
</tr>
 <tr>
 <td><%= @driveType %>GB, 15k SAS Drives</td><td><%= @numSAS.to_i %></td><td>Includes hotspares</td>
 </tr>
 <tr>
 <td>100 GB, EFD Drives</td><td><%= @numFlash %></td><td>Includes Hotspares and Additional Drives below</td>
 </tr>
 <tr>
 <td><%= @userDataType %>, 7.2k NL-SAS Drives</td><td><%= @totaluserDataNum %></td><td>Include Hotspares</td>
 </tr>
 <tr>
 <td>Data Movers</td><td><%= @dispMover %></td><td>Active + One Standby</td>
 </tr>

  <tr>
 <td>Additional FAST Cache</td><td><%= @moreFlash %></td><td>Included in Total EFD</td>
 </tr>
   <tr>
 <td>Additional EFD For Base Images</td><td><%= @baseFlash %></td><td>Included in Total EFD</td>
 </tr>
 <tr>
 <td>License</td><td><%= @lic %></td><td></td>
 </tr>
 </table><br/>
 </p>
  <br />
 </div>
</div>
<script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +'.js><\/script>')
  </script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.alerts.js"></script>
  <script src="js/foundation/foundation.clearing.js"></script>
  <script src="js/foundation/foundation.cookie.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <script src="js/foundation/foundation.forms.js"></script>
  <script src="js/foundation/foundation.joyride.js"></script>
  <script src="js/foundation/foundation.magellan.js"></script>
  <script src="js/foundation/foundation.orbit.js"></script>
  <script src="js/foundation/foundation.placeholder.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script src="js/foundation/foundation.section.js"></script>
  <script src="js/foundation/foundation.tooltips.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <script>
  $(document).foundation();
  </script>	
</body>
</html


