<html>
<body>
<h1>Welcome to the EMC VDI Calculator</h1>

<p>This calculator attempts to estimate the EMC storage needed for VMware View, Citrix PVS and MCS environments. It is based on the math
from this <a href=http://www.emc.com/collateral/software/white-papers/h11096-vdi-sizing-wp.pdf>whitepaper.</a>
<br>

<table border=1>
 <tr>
 <td>Compenents</td><td>Quantity</td>
 </tr>
 <tr>
 <td>VNX </td><td>1</td>
 </tr>
 <tr>
 <td><%= @driveType %>GB, 15k SAS Drives</td><td><%= @numSAS %></td>
 </tr>
 <tr>
 <td>100 GB, EFD Drives</td><td><%= @numFlash %></td>
 </tr>
 <tr>
 <td><%= @userDataType %>, 7.2k NL-SAS Drives</td><td><%= @totaluserDataNum %></td>
 </tr>
 <tr>
 <td>Data Movers</td><td><%= @dispMover %></td>
 </tr>
 </table><br/>
 </p>
 Values Used:<br/>
 VDI<%= @vditype %><br/>
    AvgRam<%= @avgRam %><br/>
    MemRes<%= @memRes %><br/>
    nDesktops<%= @nDesktops %><br/>
    IOSteady<%= @ioSteady %><br/>
    CustIO<%= @custIO %><br/>
    ConCurr<%= @conCurr %><br/>
    UserData<%= @userData %><br/>
    AddStor<%= @addStor %><br/>
    MaxConCurr<%= @maxConCurr %><br/>
    NumBlk<%= @numBlk %><br/>
    AdjNumBlk<%= @adjNumBlk %><br/>
    NumFlash<%= @numFlash %><br/>
    AddDrives<%= @addDrives %><br/>
    NumSAS<%= @numSAS %><br/>
    CAPReq<%= @capReq %><br/>
    DrivesPerBlock<%= @diskPer %><br />
    hsFlashUp=<%= @hsFlashUp %><br>
    hsSASUp=<%= @hsSASUp %><br>
    storProto=<%= @storProto %><br>
     Type of VDI is <b><%= @vditype %></b><br />
 Maximum Concurrent Desktops <%= @maxConCurr %><br />
 Number of Customer IOps <%= @custIO %><br />
 Number of Additional Drives needed for applications: <%= @addDrives %><br />
 Number of VDI Blocks <%= @adjNumBlk %><br />
 Number of Flash Drives needed <%= @numFlash %><br />
 Number of SAS drives <%= @numSAS %><br />
 Capacity Total Required for Linked Clones <%= @capReq %>TB
 <br />
 </body>
 </html>